.container{
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 5em);
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.title{
  color:aliceblue;
  text-align: center;
  height: 4em;
  margin: 1em 0 4em 0 ;
  line-height: 150%;
}

.imagem{
  color:aliceblue;
  font-size: 300px;
  object-fit: contain;
  max-width: 300px;
  height: auto;
}

.info{
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoContent{
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-around;

  span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 10em;
    color: #0f0f0f;
    padding: .7em;
    border-radius: 26px;
    background-color: aliceblue;
    cursor: pointer;
    transition: all .4s;
  }

  span:hover{
    background-color: #0f0f0f;
    color:aliceblue;
    border: solid 1px aliceblue;
  }
}

@media screen and (max-width: 580px){
  .info {
    max-width: 80%;
  }

  .imagem{
    font-size: 200px;
    max-width: 250px;
  }

  .infoContent{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    span{
      width: 100%;
      margin: 5px 0;
    }
  }

}